<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/tasks" [selected]="router.url === '/tasks'">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/completed" [selected]="router.url === '/completed'">
      <ion-icon name="done-all"></ion-icon>
      <ion-label>Completed</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/add-task" [selected]="router.url === '/add-task'">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add task</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/stats" [selected]="router.url === '/stats'">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/settings" [selected]="router.url === '/settings'">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
