<ion-header>
  <ion-toolbar>
    <ion-title>Add task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-grid-wrap *ngIf="state$ | async as state">
    <form [formGroup]="form">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label class="ion-padding-bottom" position="stacked">Category</ion-label>
        <ion-select formControlName="category" placeholder="Select category">
          <ion-select-option *ngFor="let category of state.categories" value="{{ category }}">{{ category }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label>Has progress bar</ion-label>
        <ion-checkbox formControlName="hasProgress" slot="end"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="form.value.hasProgress" class="ion-no-padding">
        <ion-label position="stacked">Progress value <ion-text color="tertiary">(min 2, max 100)</ion-text></ion-label>
        <ion-input formControlName="progressLevel" type="number" min="2" max="100"></ion-input>
      </ion-item>
      <ion-button (click)="onAddTask()" class="ion-padding-vertical" color="secondary" [disabled]="!form.valid" expand="block">Add</ion-button>
    </form>
  </app-grid-wrap>
</ion-content>
